<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <title>BitoPro 台湾币托交易所</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <meta name="keywords"
    content="bitopro,币托,区块链,btc,bitcoin,usdt,eth,bito,exchange,token,api,台湾交易所,比特币走势,虚拟货币,虚拟通货,比特币交易,比特币行情,虚拟货币交易所,比特币是什么,比特币价格美元,区块链投资,比特币钱包,数字货币,比特币投资,比特币未来趋势,虚拟货币投资,比特币交易所,比特币价格走势,虚拟货币排名">
  <meta name="content" content="BitoPro 是最值得信赖的数位货币交易平台">
  <meta name="description" content="BitoPro 是最值得信赖的数位货币交易平台">
  <meta name="author" content="BitoEX">
  <meta name="theme-color" content="#2D4F8F">

  <meta property="tangerine:image" content="https://cdn.bitopro.com/images/partner/bitopro_tangerine.png" />


  <meta property="og:site_name" content="BitoPro">
  <meta property="og:type" content="website" />
  <meta property="og:title" content="BitoPro 台湾币托交易所">
  <link rel="stylesheet" media="all"
    href="./css/sign_up.css" />
  <style>
    #new_user{
      margin-top: 50px;
    }
    .help-box{
      margin-top: 40px;
      text-align: right;
    }
    .form-group.required{
      position: relative;
    }
    .form-group.error .form-control {
        border: 1px dotted #e4323a !important;
    }
    .form-error{
      position: absolute;
      color: #e4323a;
      display: none;
      font-size: 12px;
    }
    .form-group.error .form-error{
      display:block;
    }

    .message{
      position: fixed;
      background: rgba(0,0,0,.4);
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      font-size: 14px;
      color: #fff;
      padding: 5px 10px;
      z-index: 10;
      min-width: 100px;
      text-align: center;
    }
  </style>
</head>



<body>
  <div class="body-wrapper" id="zone" >
    <nav id="header" class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="javascript:void(0)" class="navbar-brand">
            <img class="site-logo" src="./img/bitoPro_logo.svg" alt="Logo">
          </a>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-6 col-lg-offset-3">
          <div class="ibox">
            <div class="ibox-content ibox-content-device">
              <div class="text-center">
                <h2 class="login-title">
                  註冊</h2>
              </div>

              <form class="simple_form tab-pane fade in active" id="new_user" >
                <div class="form-group">
                  <div class="form-group email required user_email"><label class="email required"
                      for="user_email">手機號碼</label>
                      <input class="form-control string email required" required="required"
                      placeholder="請輸入手機號碼" type="email" value=""
                      id="user_email" /></div>
                  <div class="form-error"></div>  
                </div>

                <div class="form-group">
                  <div class="form-group password required user_password">
                    <label for="user_password" class="password required">密碼</label>
                    <div class="password-show-hide-wrapper">
                      <input required="required" placeholder="請輸入密碼" type="password" id="user_password" class="form-control password required">
                      <i id="js-password-show-hide" class="fa fa-eye-slash password-show-hide-wrapper__icon"></i>
                    </div>
                    <div class="form-error"></div> 
                  </div>
                </div>

                <div class="form-group">
                  <label for="referrer_code">邀請碼 (必填)</label>
                  <div class="form-group required ">
                    <input type="number" id="referrer_code" class="form-control"
                      placeholder="邀請碼 (必填)" />
                    <div class="form-error"></div> 
                  </div>
                </div>

                <div class="form-group captcha-group">
                  
                  <input type="hidden" id="g-recaptcha-response-data-signup" class="g-recaptcha g-recaptcha-response " />

                </div>

                <div class="text-center">
                  <p class="google-recaptcha-comment">本頁面受 reCAPTCHA 機制保護，並遵守 Google 
                  <p>
                    註冊帳號代表您同意
                  </p>
                </div>

                <input id="submit" value="注册" class="btn btn-block btn-primary m-b m-t-sm" />
              </form>
              <div class="text-center">
                <div style="display: inline-block;">已經有帳號嗎？</div> <a href="./sigin.html">登入</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


    <footer id="footer">
      <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <p class="copyright">Copyright © 2018 - 2021 BitoEX. V 6.8.0</p>
          <!-- <div class="help-box">
            <button class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-question-sign"></i>幫助</button>
          </div> -->
        </div>
      </div>
    </footer>
  </div>


  <script type="text/javascript" src="./js/jquery.min.js"></script>
  <script type="text/javascript">
    $(function(){
      var isPassword = true;
      $('#js-password-show-hide').click(function(){
        
        if(isPassword){
          isPassword = false;
          $('#user_password').attr('type','text');
          $(this).removeClass('fa-eye-slash')
          $(this).addClass('fa-eye')
        }else{
          isPassword = true;
          $('#user_password').attr('type','password');
          $(this).removeClass('fa-eye')
          $(this).addClass('fa-eye-slash')
        }
        
      })
      $('#submit').click(function(){
        if(validateEmail() && validatePassword() && validateCode()){
          var user_password = $('#user_password').val();
          var user_email = $('#user_email').val();
          var referrer_code = $('#referrer_code').val();
          $.ajax({
            type: "post",
            url:'/visitor_register',
            data:{
              name: user_email,
              pwd: user_password,
              invite_code: referrer_code
            },
            success: function(data){
              if(data.code==200){
                message('注册成功');
                localStorage.setItem("visitor",JSON.stringify(data.result));
                setTimeout(function(){
                  window.location.href = '/';
                },1000)
              }else{ 
                message(data.msg)
              }
            }
          })
        }else{
          return false;
        }
        
      })
      $('#user_email').blur(function(){
        validateEmail();
      }); 
      $('#user_password').blur(function(){
        validatePassword();
      });
      $('#referrer_code').blur(function(){
        validateCode();
      });
      // .form-error
    })
    
    function validateCode(){
      if(user_email == ''){
        errorInput($('#referrer_code'),'請輸入邀請碼');
        return false;
      }else{
        errorRemove($('#user_email'));
        return true;
      }
    }
    function validateEmail(){
      var user_email = $('#user_email').val();
      // var myreg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
 6       
      if(user_email == ''){
        errorInput($('#user_email'),'請輸入手機號碼');
        return false;
      }else{
        errorRemove($('#user_email'));
        return true;
      }
    }

    function validatePassword(){
      var myreg = /^(?![0-9]+$)(?![a-z]+$)(?![A-Z]+$)(?!([^(0-9a-zA-Z)])+$)^.{8,16}$/;   
      var user_password = $('#user_password').val();
      if(user_password == ''){
        errorInput($('#user_password'),'請輸入密碼');
        return false;
      }else if(!myreg.test(user_password)){
        errorInput($('#user_password'),'密碼最少8-16碼，至少大小寫英文各1跟數字');
        return false;
      }else{
        errorRemove($('#user_password'));
        return true;
      }
    }

    function errorInput(div,text){
      div.closest('.form-group').addClass('error');
      div.closest('.form-group').find('.form-error').html(text)
    }
    function errorRemove(div){
      if(div){
        div.closest('.form-group').removeClass('error');
        div.closest('.form-group').find('.form-error').html('')
      }else{
        $('.form-group.required').removeClass('error');
        $('.form-group.required').find('.form-error').html('')
      }
    }

    function message(text){
      var div = document.createElement('div');
      div.className = 'message';
      div.innerHTML = text;
      $('body').append(div);
      setTimeout(function(){
        div.remove();
      },2000)
    }
  </script>
</body>

</html>